# Prismic CMS Configuration
VITE_PRISMIC_REPO_NAME="your-repository-name"
VITE_PRISMIC_ACCESS_TOKEN="your-access-token"
VITE_PRISMIC_CUSTOM_TYPE="your-custom-type"

# Client Credentials (Additional settings)
VITE_PRISMIC_CLIENT_ID="your-client-id"
VITE_PRISMIC_CLIENT_SECRET="your-client-secret"
VITE_PRISMIC_APPLICATION_NAME="your-application-name"
